[Unit]
Description=Consul client agent
Requires=network-online.target
After=network-online.target
 
[Service]
PIDFile=/var/run/consul/consul.pid
PermissionsStartOnly=True
ExecStartPre=/bin/mkdir -p /var/run/consul
ExecStart=/usr/local/bin/consul agent \
    -config-file=/usr/local/etc/consul/client_agent.json
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=42s
 
[Install]
WantedBy=multi-user.target